@charset "UTF-8";

* {
    height: 100%  
}
body {
    background-image: linear-gradient(to bottom, #f015da, #07daff);
}

main {
    margin: auto;
    height: auto;
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 10px;
}
